body {
    color: white;
    font-family: Calibri, Arial;
    font-weight: lighter;
    background-color: #18181b;
}

@media (min-width: 600px) {
    body {
        font-size: 1.5em;
    }
}

h1, h2 {
    font-weight: bold;
    color: #bd6d00;
    margin-top: 1.5em;
}

a {
    color: #bd6d00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    display: flex;
    justify-content: center;
}

.smaller {
    font-size: smaller;
}

.breadcrumbs {
    margin-top: -1em;
    font-size: 75%;
    color: gray;
}