body {
    color: white;
    font-family: Calibri, Arial;
    font-weight: lighter;
    background-color: #18181b;
}

@media (min-width: 600px) {
    body {
        font-size: 1.5em;
    }

    #content {
        width: 600px;
    }
}

h1, h2 {
    font-weight: bold;
    color: #bd6d00;
    margin-top: 1.5em;
}

a {
    color: #bd6d00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#footer {
    font-size: 70%;
    padding-left: 1.1em;
}

.smaller {
    font-size: smaller;
}

.breadcrumbs {
    margin-top: -1em;
    font-size: 80%;
    color: gray;
}

ul {
    margin-left: 0;
    padding-left: 1.1em;
}