{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Yivry.com</h1>
<p>The personal website of Yivry, a Twitch streamer.</p>

<h2>About Me</h2>
<p>
    Gamer, Husband, Dad, Software Developer, Autistic, Christian, Dutch, CE<span class="darker">S</span>T. Member of the
    <a href="https://red-circuit.org">Red Circuit</a> stream team. <em>Used to stream</em> Monday and Wednesday, 21:30
    to late.
</p>
<p>
    Streaming resumes when mental health improves, days and time tbd.
</p>

<h2>Most important links</h2>
<ul>
    <li><a href="{{ url_for('mods') }}">Mod Lists</a></li>
    <li><a href="https://twitch.yivry.com">My Twitch channel</a></li>
    <li>
        <a href="https://youtube.yivry.com">My YouTube channel</a>
        (<a href="https://youtube.yivry.com?sub_confirmation=1">Subscribe!</a>)
    </li>
    <li><a href="https://discord.yivry.com">My Discord server</a></li>
    <li><a href="https://tip.yivry.com">Donations</a></li>
    <li><a href="https://merch.yivry.com">Merch</a></li>
</ul>
{% endblock %}
